.bunner {
  padding: size(78px) size(65px) size(94px);
  background-color: $color-default-white;
  border-radius: size(72px);
}

.bunner__heading {
  margin: 0 auto;
  margin-bottom: size(16px);
  font-size: size(40px);
  line-height: size(48px);
  font-weight: 600;
  text-align: center;
  max-width: size(997px);
}

.bunner__wrapper {
  display: grid;
  grid-template-columns: 37% 1fr;
  gap: size(50px);
}

.bunner__list {
  margin: 0;
  margin-top: size(128px);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: size(47px);
}

.bunner__item {
  padding: size(23px) size(72px) size(23px) size(110px);
  position: relative;
  max-width: size(630px);
  background-color: #fafafa;
  border-radius: size(30px);

  svg {
    position: absolute;
    width: size(60px);
    height: size(60px);
    top: size(23px);
    left: size(27px);
  }
}

.bunner__item-heading {
  margin: 0;
  margin-bottom: size(4px);
  font-size: size(25px);
  line-height: size(40px);
  font-weight: 400;
  color: #181515;
}

.bunner__text {
  margin: 0;
  line-height: size(26px);
  color: #747474;
}

.bunner__content {
  img {
    margin-bottom: size(70px);
    width: size(425px);
    height: size(383px);
  }
}
