.bunner-content {
  @include vp-1023 {
    margin: 0 20px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.bunner-content__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1279 {
    margin: 0 0 25px;
    padding: 45px 0 25px;
    width: 425px;
    display: flex;
  }

  @include vp-1023 {
    width: 280px;
  }

  @include vp-767 {
    margin: 0 0 8px;
    display: flex;
    gap: 0;
  }
}

.bunner-content__item {
  display: none;

  img {
    width: size(425px);
    height: auto;
  }

  &--current {
    display: block;
  }

  @include vp-1279 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eeeeee;
    border-radius: 34px;
  }

  @include vp-1023 {
    position: relative;
    background-color: $color-default-white;

    img {
      margin-bottom: 0;
      position: absolute;
      top: -58px;
      width: 280px;
      height: 280px;
    }
  }
}

.bunner-content__buttons {
  display: flex;
  justify-content: center;
  gap: 10%;

  // максимум до 1280px
  @include vp-1280 {
    display: none;
  }
}

.bunner-content__button {
  position: static;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: #f8f7fc;
  border: 1px solid #efefef;
  border-radius: 50%;

  &::after {
    font-size: 12px;
    color: #2b2b2b;
  }
}
