.copyright__container {
  @include vp-767 {
    margin: 0 20px;
    padding-bottom: 28px
  }
}

.copyright__title {
  margin-bottom: size(47px);
  padding: 0;
  align-items: center;
  background-color: transparent;

  svg {
    width: size(33px);
    height: size(39px);
    color: $color-default-white;
  }

  @include vp-767 {
    margin-bottom: 25px;

    svg {
      width: 23px;
      height: 26px;
    }
  }
}

.copyright__heading {
  margin-left: size(10px);
  padding-top: size(4px);
  font-size: size(19px);
  line-height: size(23px);
  color: $color-default-white;

  @include vp-767 {
    margin-left: 5px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}

.copyright__text {
  display: flex;
  flex-direction: column;
  font-size: size(20px);
  line-height: size(32px);
  font-weight: 500;

  @include vp-1023 {
    font-size: 16px;
    line-height: 26px;
  }
}
