.copyright__title {
  margin-bottom: size(47px);

  svg {
    width: size(125px);
    height: size(41px);
  }
}

.copyright__text {
  display: flex;
  flex-direction: column;
  font-size: size(20px);
  line-height: size(32px);
  font-weight: 500;
}
