.detail {

  &:not(:last-child) {
    padding-right: size(26px);
    margin-right: size(47px);
    border-right: size(1px) solid #ececec;
  }
}

.detail__heading {
  padding: size(6px) 0;
  color: #bababa;
  line-height: size(19px);

  svg {
    position: static;
    margin: 0 size(21px) 0 size(23px);
    width: size(10px);
    height: size(10px);
  }

  &::marker {
    display: none;
    content: "";
  }
}
