.direction-item {
  padding: size(51px) size(25px) size(93px);
  display: flex;
  flex-direction: column;
}

.direction-item__title {
  margin-bottom: size(73px);
  display: flex;
  align-items: center;

  svg {
    display: block;
  }
}

.direction-item__icon {
  svg {
    width: size(80px);
    height: size(63px);
  }
}

.direction-item__heading {
  margin: 0;
  padding-left: size(15px);
  font-size: size(25px);
  line-height: size(30px);
  font-weight: 500;
}

.direction-item__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: size(3px);
}

.direction-item__item {
  display: flex;
  flex-wrap: wrap;
}

.direction-item__text {
  margin: 0;
  font-size: size(17px);
  line-height: size(27px);

  & + &::before {
    content: "\2726";
    margin: 0 size(10px);
  }
}
