.direction-item {
  padding: size(51px) size(25px) size(93px);
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    padding: 40px 22px 52px;
  }
}

.direction-item__title {
  margin-bottom: size(73px);
  display: flex;
  align-items: center;

  svg {
    display: block;
  }

  @include vp-1023 {
    margin-bottom: 35px;
  }
}

.direction-item__icon {
  svg {
    width: size(80px);
    height: size(63px);

    @include vp-1023 {
      width: 56px;
      height: 43px;
    }
  }
}

.direction-item__heading {
  margin: 0;
  padding-left: size(15px);
  font-size: size(25px);
  line-height: size(30px);
  font-weight: 500;

  @include vp-1023 {
    padding-left: 10px;
    font-size: 18px;
    line-height: 22px;
  }
}

.direction-item__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: size(3px);
  overflow-x: hidden;

  @include vp-1023 {
    row-gap: 0;
  }
}

.direction-item__item {
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    flex-wrap: nowrap;
  }
}

.direction-item__text {
  margin: 0;

  font-size: size(17px);
  line-height: size(27px);

  & + &::before {
    content: "\2726";
    margin: 0 size(10px);
  }

  @include vp-1023 {
    white-space: nowrap;
    font-size: 14px;
    line-height: 22px;

    & + &::before {
      margin: 0 7px;
    }
  }
}
