.footer {
  background-color: #222222;

  svg {
    display: block;
    color: $color-default-white;
  }

  @include vp-767 {
    .container {
      margin: 0;
    }
  }
}

.footer__container {
  padding: size(80px) 0;
  min-height: size(742px);
  display: grid;
  grid-template-columns: repeat(4, minmax(size(270px), 1fr));
  justify-content: space-between;
  color: #6b6b6b;

  h2 {
    margin: 0;
  }

  @include vp-1279 {
    grid-template-columns: repeat(3, minmax(size(270px), 1fr));
  }

  @include vp-1023 {
    grid-template-columns: 220px 200px;
    justify-content: space-between;
    min-height: auto;
  }

  @include vp-767 {
    padding: 25px 0 98px;
    display: block;
  }
}

.footer__content {
  @include vp-767 {
    position: relative;

    & + & > div::after {
      content: "";
      height: 1px;
      background-color: #504f4f;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
