.footer {
  background-color: #222222;

  svg {
    display: block;
    color: $color-default-white;
  }
}

.footer__container {
  padding: size(80px) 0;
  min-height: size(742px);
  display: grid;
  grid-template-columns: repeat(4, minmax(size(270px), 1fr));
  justify-content: space-between;
  color: #6b6b6b;

  h2 {
    margin: 0;
  }
}
