.header {
  padding: size(45px) 0;

  background-color: $color-default-white;

  &__container + &__container {
    position: relative;
    margin-top: size(38px);
    padding-top: size(46px);
    &::before {
      content: "";
      position: absolute;
      height: size(0.7px);
      top: 0;
      left: 0;
      right: 0;
      background-color: #eaeaea;
    }

  }

  svg {
    position: absolute;
    width: size(118px);
    height: size(39px);
    top: size(-7px);
    left: 0;
    color: #1d5cbb;
  }

  .container {
    position: relative;
    display: grid;
  }

  &__logo {
    color: $color-default-white;
  }
}
