.header {
  padding: 45px 0;

  background-color: $color-default-white;

  &__container + &__container {
    position: relative;
    margin-top: 38px;
    padding-top: 46px;
    &::before {
      content: "";
      position: absolute;
      height: 0.7px;
      top: 0;
      left: 0;
      right: 0;
      background-color: #eaeaea;
    }

  }

  svg {
    position: absolute;
    top: -7px;
    left: 0
  }

  .container {
    position: relative;
    display: grid;
  }

  &__logo {
    color: $color-default-white;
  }
}
