.header {
  padding: size(45px) 0;

  background-color: $color-default-white;

  &__container + &__container {
    position: relative;
    margin-top: size(38px);
    padding-top: size(46px);
    &::before {
      content: "";
      position: absolute;
      height: size(0.7px);
      top: 0;
      left: 0;
      right: 0;
      background-color: #eaeaea;
    }
  }

  svg {
    position: absolute;
    width: size(118px);
    height: size(39px);
    top: size(-7px);
    left: 0;
    color: #1d5cbb;

    @include vp-1023 {
      position: static;
      width: 118px;
      height: 39px;
    }
  }

  .container {
    position: relative;

    @include vp-1023 {
      position: static;
      width: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    color: $color-default-white;
  }

  @include vp-1023 {
    position: relative;
    padding: 30px 0;

    &::before {
      content: "";
      position: absolute;
      height: size(0.7px);
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #eaeaea;
    }

    &__container + &__container {
      position: static;
      margin-top: 0;
      padding-top: 0;

      &::before {
        content: none;
      }
    }
  }
}
