.info {
  @include vp-1279 {
    display: none;
  }
}

.info__container {
  padding-top: 10px;
}

h2.info__heading {
  margin-bottom: size(50px);
  font-size: size(20px);
  line-height: size(24px);
  font-weight: 500;
  color: #fafafa;
}

.info__text {
  display: flex;
  flex-direction: column;
  font-size: size(20px);
  line-height: size(32px);
  font-weight: 500;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: size(16px);
}

.info__item {
  a {
    padding: size(5px) size(10px);
    padding-left: 0;
    color: #6b6b6b;
    background-color: transparent;
  }
}
