.main-nav {
  &__list {
    margin: 0 auto;
    padding: 0 0 0 14px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 541px;

    list-style: none;
  }

  &__link {
    display: block;
    line-height: 19px;
    padding: 7px 15px;
    color: $color-text;

    &.is-active {
      color: rgba(72, 109, 216, 0.6);
    }
  }

  &__toggle {
    display: none;
  }
}
