.main-nav {
  &__wrapper {
    padding-left: size(118px);
  }

  &__list {
    margin: 0 auto 0 23%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: size(526px);

    list-style: none;
  }

  &__link {
    display: block;
    line-height: size(19px);
    padding: size(7px) size(15px);
    color: $color-text;

    &.is-active {
      color: rgba(72, 109, 216, 0.6);
    }
  }

  &__toggle {
    display: none;
  }
}
