.popular-destinations {
  @include vp-1023 {
    display: none;
  }
}

.popular-destinations__container {
  padding-top: size(10px);
}

h2.popular-destinations__heading {
  margin-bottom: size(50px);
  font-size: size(20px);
  line-height: size(24px);
  font-weight: 500;
  color: #fafafa;
}

.popular-destinations__text {
  display: flex;
  flex-direction: column;
  font-size: size(20px);
  line-height: size(32px);
  font-weight: 500;
}

.popular-destinations__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: size(16px);
}

.popular-destinations__item {
  a {
    padding: size(5px) size(10px);
    padding-left: 0;
    color: #6b6b6b;
    background-color: transparent;
  }
}
