.popular-destinations__container {
  padding-top: 10px;
}

h2.popular-destinations__heading {
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fafafa;
}

.popular-destinations__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.popular-destinations__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popular-destinations__item {
  a {
    padding: 5px 10px;
    padding-left: 0;
    color: #6b6b6b;
    background-color: transparent;
  }
}
