.preview {
  padding-left: size(23px);
  max-width: size(362px);

  @include vp-1023 {
    padding: 5px 21px 39px 21px;
    max-width: none;
  }
}

.preview__heading {
  margin: 0;
  margin-bottom: size(18px);
  font-size: size(30px);
  line-height: size(36px);
  font-weight: 600;
  color: #486dd8;

  @include vp-1023 {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
  }
}

.preview__text {
  margin: 0;
  line-height: size(26px);
  color: #252830;
}
