mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Курсы"
      },
      {
        href: "#",
        text: "Блог"
      },
    ]

  header.header(class=headerMods)
    .header__container
      .container
        if(currentUrl === "index.html")
          .header__title
            +icon("logo", 33, 39)
            span.header__text
              | FindEdu
        else
          a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
        span.header__menu-mobile
          | Курсы
        nav.main-nav
          .main-nav__wrapper
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    span.is-active= link.text
                  else
                    +btn({text: link.text, href: link.href})
          button.main-nav__toggle.main-nav__toggle--burger.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
            +icon("icon-burger", 20, 20)
          button.main-nav__toggle.main-nav__toggle--cross.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
            +icon("icon-cross", 20, 20)
    .header__container
      .container
        +secondaryNav()
